In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../users.csv')

In [3]:
df.head()

,user_id,tags,user_preferences
0,7a7388dd-5d5f-40c8-88e3-d8dac77a5f6b,Wibu|Gamers|Mendengarkan musik|Humoris|Membaca,Gua pengen dapet teman yang bisa diajak pergi ...
1,8b57a919-71c1-4e2a-a68d-24fe5d8b10f2,Desainer grafis|Seniman|Kreatif|Fleksibel|Bere...,Seorang desainer grafis yang kreatif dan fleks...
2,4f9d1b58-c72d-4f4f-86e9-2ea8b2e063bd,Pramugari|Traveling|Self development|Berjiwa s...,Seorang pramugari yang gemar traveling dan pen...
3,2c8c791e-3f50-499f-ae32-3c9e5a556746,Programmer|Teknologi|Gamers|Berenang|Multimedia,Seorang programmer yang tertarik pada teknolog...
4,9e14f38c-6fc0-4b7d-9e88-2a5ab66eefc1,Pendaki|Berjiwa petualang|Fotografi|Bersepeda|...,Pendaki yang suka petualangan dan fotografi al...

In [4]:
df["tags"].str.split("|").map(lambda tags: len(tags)).value_counts()

5    507
Name: tags, dtype: int64

In [5]:
tags = pd.read_csv("../data/tags.csv")

In [6]:
tags.head()

                  tag     type
0              Basket     hobi
1             Memasak     hobi
2     Desainer grafis  profesi
3            Disiplin    sifat
4  Mendengarkan musik     hobi

In [7]:
list_tags = tags["tag"].values

In [9]:
df = pd.read_csv('../users.csv')
users_tags = df["tags"].str.split("|").values


users_tags_unique = np.unique(np.concatenate(users_tags))

not_in_list = np.setdiff1d(list_tags, users_tags_unique)

users_tags_in_list = np.setdiff1d(users_tags_unique, list_tags)

outlier_tags = np.setdiff1d(users_tags_unique, list_tags)

print(
    users_tags_unique.shape,
    not_in_list.shape,
    list_tags.shape,
    outlier_tags,
)

(191,) (0,) (191,) []

### Menambahkan random tag pada user yang jumlah tag < 5

In [10]:
def impute_random_tag(tags: list) -> str:
    if len(tags) < 5:
        while len(tags) != 5:
            random_tag = np.random.choice(list_tags)
            tags.append(random_tag)

    for i in range(len(tags)):
        if tags[i] not in list_tags:
            tags[i] = np.random.choice(list_tags)

    for i in range(len(tags)):
        tag = tags[i].split("-")
        if len(tag) > 1:
            tags[i] = " ".join(tag)

    return "|".join(tags)

In [11]:
outlier = []
for user_tags in (
    df["tags"].str.split("|").map(impute_random_tag).str.split("|").values
):
    for tag in user_tags:
        if tag not in list_tags:
            outlier.append(tag)

np.array(list(set(outlier)))

array([], dtype=float64)

In [12]:
df["tags"] = df["tags"].str.split("|").map(impute_random_tag)

In [13]:
df["tags"].str.split("|").map(lambda tags: len(tags)).value_counts()

5    507
Name: tags, dtype: int64

In [14]:
df.head()

,user_id,tags,user_preferences
0,7a7388dd-5d5f-40c8-88e3-d8dac77a5f6b,Wibu|Gamers|Mendengarkan musik|Humoris|Membaca,Gua pengen dapet teman yang bisa diajak pergi ...
1,8b57a919-71c1-4e2a-a68d-24fe5d8b10f2,Desainer grafis|Seniman|Kreatif|Fleksibel|Bere...,Seorang desainer grafis yang kreatif dan fleks...
2,4f9d1b58-c72d-4f4f-86e9-2ea8b2e063bd,Pramugari|Traveling|Self development|Berjiwa s...,Seorang pramugari yang gemar traveling dan pen...
3,2c8c791e-3f50-499f-ae32-3c9e5a556746,Programmer|Teknologi|Gamers|Berenang|Multimedia,Seorang programmer yang tertarik pada teknolog...
4,9e14f38c-6fc0-4b7d-9e88-2a5ab66eefc1,Pendaki|Berjiwa petualang|Fotografi|Bersepeda|...,Pendaki yang suka petualangan dan fotografi al...