In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../talents.csv')

In [3]:
df.head()

,talent_id,tags,talent_description
0,e52cd4d5-04cf-47df-bc6c-166ed47ca27f,Kpopers|Olahraga|Mendengarkan-musik|Badminton|...,"Saya sangat menyukai Kpop, girlband favorit sa..."
1,2f2ae1c2-8a7e-4d3b-9267-6518b48a2c8e,Seniman|Desain|Kreatif|Inovatif|Optimis,Saya adalah seorang seniman visual yang mencin...
2,7a9c6f0b-5bea-45e1-ae7f-f7211f6025a1,Kuliner|Traveling|Petualangan|Berjiwa-petualan...,Pecinta kuliner dan petualangan! Saya suka men...
3,9b17344b-df71-43f3-8dd7-b9c7c5cdcb44,Teknologi|Programmer|Inovatif|Analitis|Coding,Seorang pengembang perangkat lunak yang bersem...
4,4e2a575a-c8e8-4a1d-a2ad-42e2d1fc7e5d,Pengajar|Membaca|Ambisius|Visioner|Cerdas,Pengajar bahasa Inggris yang juga pencinta lit...

In [4]:
df['tags'].str.split('|').map(lambda tags: len(tags)).value_counts()

5    468
4     28
3     13
Name: tags, dtype: int64

In [5]:
tags = pd.read_csv('../data/tags.csv')

In [6]:
tags.head()

                  tag     type
0              Basket     hobi
1             Memasak     hobi
2     Desainer grafis  profesi
3            Disiplin    sifat
4  Mendengarkan musik     hobi

In [7]:
list_tags = tags['tag'].values

### Menambahkan random tag pada talent yang jumlah tag < 5

In [8]:
def impute_random_tag(tags: list) -> str:
    if len(tags) < 5:
        while len(tags) != 5:
            random_tag = np.random.choice(list_tags)
            tags.append(random_tag)

    for i in range(len(tags)):
        if tags[i] not in list_tags:
            tags[i] = np.random.choice(list_tags)

    for i in range(len(tags)):
        tag = tags[i].split("-")
        if len(tag) > 1:
            tags[i] = " ".join(tag)

    return "|".join(tags)

In [9]:
outlier = []
for talent_tags in df["tags"].str.split("|").map(impute_random_tag).str.split("|").values:
     for tag in talent_tags:
         if tag not in list_tags:
             outlier.append(tag)

np.array(list(set(outlier)))

array([], dtype=float64)

In [10]:
df['tags'] = df['tags'].str.split('|').map(impute_random_tag)

In [11]:
df["tags"].str.split("|").map(lambda tags: len(tags)).value_counts()

5    509
Name: tags, dtype: int64

In [12]:
df.head()

,talent_id,tags,talent_description
0,e52cd4d5-04cf-47df-bc6c-166ed47ca27f,Kpopers|Olahraga|Berjiwa petualang|Badminton|H...,"Saya sangat menyukai Kpop, girlband favorit sa..."
1,2f2ae1c2-8a7e-4d3b-9267-6518b48a2c8e,Seniman|Desain|Kreatif|Inovatif|Optimis,Saya adalah seorang seniman visual yang mencin...
2,7a9c6f0b-5bea-45e1-ae7f-f7211f6025a1,Kuliner|Traveling|Petualangan|Bersepeda|Kutu buku,Pecinta kuliner dan petualangan! Saya suka men...
3,9b17344b-df71-43f3-8dd7-b9c7c5cdcb44,Teknologi|Programmer|Inovatif|Analitis|Coding,Seorang pengembang perangkat lunak yang bersem...
4,4e2a575a-c8e8-4a1d-a2ad-42e2d1fc7e5d,Pengajar|Membaca|Ambisius|Visioner|Cerdas,Pengajar bahasa Inggris yang juga pencinta lit...

In [13]:
df.to_csv('../talents_cleaned.csv', index=False)