In [1]:
import pandas as pd
import numpy as np

In [2]:
reviews_df = pd.read_csv('../reviews.csv')

In [3]:
reviews_df.head()

,user_id,talent_id,rating,review
0,287,233,4,"Talent ini sangat kreatif dalam fotografi, has..."
1,287,493,3,"Kemampuan olahraga talent ini memuaskan, tetap..."
2,748,127,5,Sangat puas dengan pengalaman kuliner bersama ...
3,747,86,4,Talent ini memberikan konsultasi bisnis yang s...
4,71,11,2,Kemampuan gym dan jogging talent ini tidak ses...

In [4]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609 entries, 0 to 608
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    609 non-null    int64
 1   talent_id  609 non-null    int64
 2   rating     609 non-null    int64
 3   review     609 non-null    object
dtypes: int64(3), object(1)
memory usage: 19.2+ KB

In [5]:
users_df = pd.read_csv('../data/users.csv')
talents_df = pd.read_csv('../data/talents.csv')

In [6]:
reviews_copy = reviews_df.copy()

In [7]:
for i in range(len(reviews_copy)):
    user_idx = reviews_copy.loc[i, 'user_id']
    talent_idx = reviews_copy.loc[i, 'talent_id']
    
    if user_idx >= len(users_df):
        user_idx = np.random.randint(len(users_df))
        
    if talent_idx >= len(talents_df):
        talent_idx = np.random.randint(len(talents_df))
    
    user_id = users_df.loc[user_idx, 'user_id']
    talent_id = talents_df.loc[talent_idx, 'talent_id']
    
    reviews_copy.loc[i, 'user_id'] = user_id
    reviews_copy.loc[i, 'talent_id'] = talent_id

In [9]:
reviews_copy.head()

,user_id,talent_id,rating,review
0,5de6b455-0a80-4047-90e7-8ddee7ee2bb8,6742ab46-c8ca-4acc-99b2-9ba1c5bfccb6,4,"Talent ini sangat kreatif dalam fotografi, has..."
1,5de6b455-0a80-4047-90e7-8ddee7ee2bb8,d9b90682-f5b4-45f7-b1ed-8b8044c945e1,3,"Kemampuan olahraga talent ini memuaskan, tetap..."
2,bc92f639-6659-4732-ad42-cc62b377f811,1b18b89b-5434-422d-b2d9-294e4c64657e,5,Sangat puas dengan pengalaman kuliner bersama ...
3,9a8427dd-ef41-46d9-86fe-063129e8190e,931c2814-1f84-404f-851a-7fb075835d95,4,Talent ini memberikan konsultasi bisnis yang s...
4,0e9ced1a-35a0-4ad5-a204-3d5c843de78f,ddc39acb-d29b-43f0-abcd-f54fe7be2904,2,Kemampuan gym dan jogging talent ini tidak ses...

In [10]:
def check_outlier():
    user_outliers = []
    talent_outliers = []
    
    for i in range(len(reviews_copy)):
        user_id = reviews_copy.loc[i, 'user_id']
        talent_id = reviews_copy.loc[i, 'talent_id']
        
        if len(users_df[users_df['user_id'] == user_id]) == 0:
            user_outliers.append(user_id)        
        if len(talents_df[talents_df['talent_id'] == talent_id]) == 0:
            talent_outliers.append(user_id)        

    print(user_outliers)
    print(talent_outliers)

In [11]:
check_outlier()

[]
[]

In [12]:
reviews_copy.to_csv('../data/reviews.csv', index=False)