In [255]:
import pandas as pd
import numpy as np

In [256]:
reviews = pd.read_csv('../data/reviews.csv')

In [257]:
user_reviews = reviews.user_id.values
talent_reviews = reviews.talent_id.values

In [258]:
users = pd.read_csv('../data/users.csv')

In [259]:
users["user_id"].isin(user_reviews).sum()

754

In [260]:
users.loc[~users["user_id"].isin(user_reviews)].head()

,user_id,user_name,user_gender,user_birth_date,user_age,user_location,user_tags,user_preferences
376,82e49d8e-c581-4064-8a8b-0aa61c727efb,Hafied Rumengan,L,20/5/1983,40,"Banten, Tangerang Selatan",Seni|Percaya diri|Bekerja|Desainer interior|Me...,Seseorang yang percaya diri dan memiliki minat...
389,092042e6-827a-43de-8297-a4242cacdbb2,Umi Nabila Adi Aurelia,P,27/11/1999,24,"Maluku, Ambon",Pecinta alam|Konservasi|Ahli biologi|Fotografi...,Saya seorang ahli biologi yang mencintai alam ...
396,3b63e2aa-b8ab-45f7-b294-b525c060802d,Apriana Boro Puspita Rahmiati,P,9/1/2004,19,"Kalimantan Timur, Samarinda",Seni|Arsitek|Traveling|Desainer interior|Desain,Seorang desainer interior dan arsitek yang men...
414,7fdfc453-a7fb-4f96-80e0-3f82dff010a1,Nurmasitha Maharani Ummu Ayu,P,21/8/1998,25,"Nusa Tenggara Timur, Kupang",Romantis|Bersepeda|Berpikir|Koki|Gym,Suka masak dan olahraga di gym. Pengen teman y...
419,8ee96d0c-338e-4236-83b6-ff2bcca35c23,Muhammad Priatna,L,29/12/1999,24,"Gorontalo, Gorontalo",Bisnis|Seni|Desain|Desainer grafis|Kreatif,Seorang desainer grafis yang sedang mencari te...

In [261]:
users = users.loc[~users["user_id"].isin(user_reviews), "user_tags"]

In [262]:
users.head(n=50).to_csv("us.csv")

In [263]:
# users.to_csv('prompt-user.csv')

In [264]:
talents = pd.read_csv("../data/talents.csv")

In [265]:
talents["talent_id"].isin(talent_reviews).sum()

509

In [266]:
# talents = talents.loc[~talents["talent_id"].isin(talent_reviews), "talent_tags"]

In [267]:
talents.sample(n=50 if len(talents) > 50 else len(talents))['talent_tags'].to_csv("ta.csv")

In [268]:
# talents.to_csv("prompt-talent.csv")